*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(back.png);
    height: 110vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom:16vh;
}
.nav{
    position: fixed;
    top: 0%;
    left: 0%;
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 0;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 22px 22px;
    backdrop-filter: blur(7px);  
    justify-content: space-between;
    border:solid 2px rgb(93, 93, 95);
    align-items: center;
    z-index: 9999; 
    width: 80%; 
    color: white;
}

.span1{
    color: red;
}
.nav  ul li {
    list-style-type: none;
    display: inline-flex;
    padding: 22px;
    text-decoration: none;
    font-size: 1.5em;
    cursor: default;
}

a{
    text-decoration: none;
    cursor: default;
    color: rgb(235, 219, 199);
    font-family: "DM Serif Text", serif;
}
.nav li a:hover{
    color: rgb(248, 6, 6);
    transition: 0.7s;
    
}
.btn-grad {
  background: black;
  margin: 27px;
  margin-left:5vh;
  padding: 13px 22px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  color: white;
  border: solid 1px white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
}

.btn-grad:hover {
    color: #000000;
    text-decoration: none;
    background: rgb(147, 164, 223);
    transition: 0.7s;
    backdrop-filter: blur(17px);
    cursor: default;
    border: solid 1px rgb(1, 5, 32);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}
.main{
   display: flex;
   backdrop-filter: blur(17px);
   height: 60vh;
   margin: 12vh;
   border-radius: 20px;
   padding: 22px;
   text-align: center;
   align-items: center;
   border:solid 2px rgb(93, 93, 95);
   margin: 27px 27vh 0vh 27vh;
   margin-top: 27vh;
   color: white;
}
.content{
    flex:3;
    font-size: 1.6em;
    text-align: justify;
    padding: 20px;
}
.aside{
    flex: 2;
    padding: 7vh;

}
.img{
  width: 100%;
  height: auto; 
  border-radius: 50%;
  padding: 30px;
  border: solid 2px rgb(255, 255, 255);
  
}
.work{
       margin: 27px 27vh 0vh 27vh;
       margin-top: 7vh;
       padding: 22px;
       border:solid 2px rgb(93, 93, 95);
       height: 75vh;
       backdrop-filter: blur(17px);
       border-radius: 32px;
       color: white;
       
}
.services{
       margin: 27px 27vh 0vh 27vh;
       margin-top: 7vh;
       padding: 22px;
       border:solid 2px rgb(93, 93, 95);
       height: 75vh;
       backdrop-filter: blur(17px);
       border-radius: 32px;
       color: white;
}
.head1{
    text-align: center;
    font-family: "Momo Trust Display", sans-serif;
    color: beige;
    padding: 25px;
    font-weight: lighter;
}
.maindiv{
    display: flex;
    padding: 12px; 
    font-size: 1.15em;  

}
.p1{
    height: 22vh;
    flex: 1;
    margin: 30px;
    height: 50vh;
     border:solid 2px rgb(93, 93, 95);
    border-radius: 22px;
    margin-left: 10px; 
}

.para{
    font-size: 1em;
    overflow: hidden; 
    text-align: justify;
    overflow-wrap: break-word;
    padding: 12px;
    padding-top: 22px;
}
.para1{
    font-size: 1.3em;
    overflow: hidden; 
    text-align: justify;
    overflow-wrap: break-word;
    padding: 12px;
    padding-top: 22px;
}
.projecth{
    font-size: 1.6em;
    color: rgb(255, 254, 254);
    
}
.about{
       margin: 27px 27vh 0vh 27vh;
       margin-top: 7vh;
       padding: 17vh;
       padding-top: 2vh;
       border:solid 2px rgb(93, 93, 95);
       height: 65vh;
       backdrop-filter: blur(17px);
       border-radius: 32px;  
       color: white;  
       text-align: center;      
}
.aboutp{
    font-size: 1.6em;
    text-align: justify;
}
.head2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(253, 227, 195);
    font-size: 1.7em;
    padding: 13px;
}
.contact{
       margin: 27px 27vh 0vh 27vh;
       margin-top: 7vh;
       padding: 22px;
       border:solid 2px rgb(93, 93, 95);
       height: 70vh;
       backdrop-filter: blur(17px);
       border-radius: 32px;
       text-align: center;


}
input{
    padding: 17px;
    width: 50%;
    margin: 12px;
    border-radius: 12px;
    border: solid 1px white;
    background-color: black;
    color: white;
}
.message{
    height: 15vh;
    width: 50%;
    margin-top: 5vh;
    border-radius: 12px;
    padding: 12px;
    color: white;
    background-color: black;
    border: solid 1px white;
}
.footer{
    height: 10vh;
    padding: 26px;
}
.mservises{
    display: flex;
}
.space{
    height: 13vh;
    margin: 0px;
    text-align: center;
    border-radius: 19px 19px 0px 0px;
    align-content: center;
}
.space1{
    height: 5vh;
    padding: 22px;
    margin: 0px;
    text-align: center; 
    border-radius: 19px 19px 0px 0px;
    align-content: center;
}
.offside{
  font-family: "Bungee", sans-serif;
  font-weight: 2.4em;
  font-style: normal;
  font-weight: lighter;
  padding: 22px;
  color: rgb(219, 187, 147);
}
.span2{
    color: rgb(255, 255, 255);
}
.span3{
    color: rgb(221, 226, 213);
}
  .confooter{
    padding: 23px;
  }

@media (max-width: 720px) {
    *{
        margin: 0px;
        padding: 0px;    
    }
  body {
    background-repeat: no-repeat;
    margin: 12px;
    
  }

  .nav {
    position: relative;
    flex-direction: column;
    width: 100%;
    margin: 0;
    border-radius: 0;
    height: 7%;
    margin: 0px;
    display: flex;
    margin-bottom: 13vh;
    padding: 0px;
    border: none;
    font-size: 1.3em;

  }
  .nav ul li{
    display: inline-block;
    font-size: 1.1em;
    padding: 12px;
    text-align: center;
    
  }
  a{
    color: rgb(236, 255, 255);
  }
.nav .btn-grad {
  display: none;
}


  .main {
    flex-direction: column;
    word-spacing: 2%;
    height: auto;
    margin: 22px;
    padding: 0px;
  }
  .work{
    flex-direction: column;
    margin: 22px;
    height: 30%;
    align-items: center;
    }
    .maindiv{
        flex-direction: column;
        width: 100%;
    }
    .about{
        height: 20%;
        width: 95%;
        font-size: 15px;
        padding: 20px;
        text-align: center;
        margin: 20px;
    }
    .aboutp{
        padding: 20px;
    }
    .services{
        height: 20%;
        width: 95%;
        font-size: 15px;
        padding: 20px;
        text-align: center;
        margin: 20px;
    }
    .mservises{
        flex-direction: column;
        padding: 20px;
        margin-top: 2px;
    }
    .contact{
        margin: 0px;
        margin: 22px;
        height: 85%;
    }

  .content, .aside {
    width: 100%;
  }

  .img {
    width: 60%;
  }
  .confooter{
    padding: 12px;
  }
}
